{% extends "status/status_base.html" %}
{% set active_tab = 'shabbat' %}
{% set current_context = 'STATUS_SHABBAT' %}
{% block context_name %}STATUS_SHABBAT{% endblock %}

{% block page_name %}סטטוס מערכות - שבת{% endblock %}
{% block back_action %}STATUS_SHABBAT{% endblock %}

{% block status_content %}
<div class="status-container" dir="rtl">
    <h2 style="text-align: right;">מצב נוכחי - תוכנית שבת</h2>
    <table class="status-table" style="direction: rtl; text-align: right;">
        <thead>
            <tr>
                <th>מערכת</th>
                <th>מצב</th>
                <th>זמן פעולה</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>מצב שבת כללי</td>
                <td><span class="status-on">מופעל</span></td>
                <td>יציאת שבת ב-17:45</td>
            </tr>
            <tr>
                <td>תאורת בטחון</td>
                <td><span class="status-on">פעיל</span></td>
                <td>אוטומטי</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}